body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #552021;
}

/* Creates responsive full screen background image */
.bg {
  /* The image used */
  background-image: url('rickandmorty.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles main container */
.container-fluid {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px #552021;
  padding: 1em;
  max-width: 50%;
  max-height: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center !important;
}

h1 {
  display: inline-block !important;
  color: #552021;
  font-size: 3em;
  font-family: 'Dokdo', cursive;
}

#quote {
  font-size: 1.2em;
}

/* Button styling */
.btn {
  font-family: 'Dokdo', cursive;
  font-size: 1.5em;
  margin: 1em 0.2em 1em 0.2em;
}

/* Media queries */
@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  /* Styles main container */
  .container-fluid {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px #552021;
    padding: 1em;
    max-width: 90%;
    max-height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center !important;
  }

  /* Button styling */
  .btn {
    font-family: 'Dokdo', cursive;
    font-size: 1em;
  }
}
