body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Creates responsive full screen background image */
.bg {
  /* The image used */
  background-image: url("rickandmorty.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles main container */
.container-fluid {
  background-color: white;
  padding: 1em;
  width: 50%;
  height: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center !important;
}

h1 {
  display: inline-block !important;
  color: #552021;
  font-size: 3em;
  font-family: 'Dokdo', cursive;
}

/* Button styling */
.btn {
  font-family: 'Dokdo', cursive;
  font-size: 1.5em;
}
